<!DOCTYPE html>
<html>
<head>
  <title>help</title>
</head>
<body>
<% provide(:title, "Home") %>


  <% if logged_in? %>
    <div class="row">
       <aside class="col-md-4">
         <section class="user_info">
           <%= render 'shared/user_info' %>
         </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
             <section class="micropost_form">
               <%= render 'shared/micropost_form' %>
             </section>
       </aside>
      <div class = "col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed'  %>
      </div>
    </div>

<% else %>
    <div class="center jumbotron">
          <div class = 'container'>
            <% flash.each do |key, value| %>
              <div class = "alert alert-<%= key %>"><%= value %></div>
            <% end %>
          </div>

          <h1>Welcome to Micro</h1>
          <p>It's bigger than you think.</p>

          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
  <% end  %>
       </body>
</html>